/*Importing Our Font*/
@import "../font/Montserrat-font.css";

/*Variables*/
:root {
    --light: #f1ecec;
    --lighter-dark: #8A8A8A;
    --dark: #4D4D4D;
    --red: #9D5A5A;
}

/*CSS RESET*/
img {pointer-events: none}
a {text-decoration: none !important;}
button {transition: .3s;cursor: pointer;}

body {
    font-size: 18px !important;
    font-family: Montserrat, Verdana ,sans-serif !important;
    scroll-behavior: smooth;
    overflow-x: hidden;
    background-color: #f1ecec !important;
}

/*For Debug*/
div.w-100, div.w-25, div.w-75,
.fw-bold,.text-dark {outline: 3px solid red ;}

/*Styles*/
.dv-fw-bold {font-weight: 700;}
.dv-fw-semi-bold {font-weight: 600;}
.dv-fw-regular {font-weight: 500;}
.dv-fw-thin {font-weight: 400;}
.dv-text-dark {color: var(--dark) !important;}
.dv-nav-links {position:relative;}
.dv-nav-links.active {margin-left: 1rem;}
.dv-nav-links.active > a {font-weight: 700;}
.dv-bg-right {background-size: contain;background-position: right;background-repeat: no-repeat;}
.dv-bg-cover {background-size: cover;background-position: center;}
.dv-bg-cover-right {background-size: cover;background-position: right;}
.dv-home-slide-1 {background-image: url('../img/home/img-bg-1.png');}
.dv-home-slide-2 {background-image: url('../img/home/img-bg-2.png');background-size: 100%;background-repeat: no-repeat;}
.dv-home-slide-3 {background-image: url('../img/home/img-bg-3.png');}
.dv-home-slide-4 {background-image: url('../img/home/img-bg-4.png');}
.dv-fs-20 {font-size: 20px}
.dv-fs-30 {font-size: 30px}
.dv-fs-60 {font-size: 60px}
.dv-fs-50 {font-size: 50px}
.dv-squar-50 {width: 50px;height: 50px;}
.dv-border-dark {border: 1px solid var(--dark);}
.dv-border-white {border: 1px solid white;}
button.dv-border-dark path {transition: .3s}
.dv-bottom-9 {bottom: 9%;}
.dv-fs-18 {font-size: 18px !important}
.dv-dark-bg-nav {z-index: 2;background-color: rgba(0,0,0,.3);opacity: 0;pointer-events: none;transition: .3s}
nav.show  ~ .dv-dark-bg-nav{opacity: 1;pointer-events: visible;}
.dv-home-slide-2-bottom-items-holder > div {height: 50px;}
.dv-home-slide-2-bottom-items-holder > div:first-of-type {background-image: url('../img/home/slide-2/img-body.png');}
.dv-home-slide-2-bottom-items-holder > div:nth-of-type(2) {background-image: url('../img/home/slide-2/img-men.png');}
.dv-home-slide-2-bottom-items-holder > div:last-of-type {background-image: url('../img/home/slide-2/img-face.png');}
.dv-hair-cat-slide-2-items-holder > div:first-of-type {background-image: url('../img/hair-cat/slide-2/img-1.png');}
.dv-hair-cat-slide-2-items-holder > div:nth-of-type(2) {background-image: url('../img/hair-cat/slide-2/img-2.png');}
.dv-hair-cat-slide-2-items-holder > div:last-of-type {background-image: url('../img/hair-cat/slide-2/img-3.png');}
.dv-blog-post {background-image: url('../img/img-blog.png');}
.dv-bg-right-smaller {background-position: right bottom;background-size: 40%;background-repeat: no-repeat;}
.dv-hair-cat-slide-1 {background-image: url('../img/hair-cat/img-bg-1.png');}
.dv-p-small-inner-pages {padding: 3rem 6rem;}
.dv-input::placeholder {color: var(--dark);font-weight: 400;font-size: 18px;}
textarea.dv-input {height: 203px;resize: none;}
.dv-submit-btn.dv-fw-thin {font-weight: 400;}
.dv-hair-cat-slide-3-bottom-side-holder > .col,
.dv-hair-cat-slide-4-bottom-side-holder > .col {background-size: cover;}
.dv-hair-cat-slide-3-bottom-side-holder > .col,
.dv-hair-cat-slide-3-bottom-side-holder > .col > div {height: 262px;}
.dv-hair-cat-slide-3-bottom-side-holder > .col > div, .dv-hair-cat-slide-4-bottom-side-holder > .col > div{background: linear-gradient(to bottom, transparent, rgba(0, 0, 0, .5))}
.dv-hair-cat-slide-3-bottom-side-holder > .col:first-of-type {background-image: url('../img/home/slide-3/img-1.png');}
.dv-hair-cat-slide-3-bottom-side-holder > .col:nth-of-type(2) {background-image: url('../img/home/slide-3/img-2.png');}
.dv-hair-cat-slide-3-bottom-side-holder > .col:last-of-type {background-image: url('../img/home/slide-3/img-3.png');}
.dv-hair-cat-slide-4-bottom-side-holder > .col > div{height: 200px;}
.dv-hair-cat-slide-4-bottom-side-holder > .col:first-of-type {background-image: url('../img/home/slide-3/img-1.png');}
.dv-hair-cat-slide-4-bottom-side-holder > .col:nth-of-type(2) {background-image: url('../img/home/slide-3/img-2.png');}
.dv-hair-cat-slide-4-bottom-side-holder > .col:nth-of-type(3) {background-image: url('../img/home/slide-3/img-3.png');}
.dv-hair-cat-slide-4-bottom-side-holder > .col:nth-of-type(4) {background-image: url('../img/hair-cat/img-4.png');}
.dv-hair-cat-slide-4-bottom-side-holder > .col:nth-of-type(5) {background-image: url('../img/hair-cat/img-5.png');}
.dv-hair-cat-slide-4-bottom-side-holder > .col:nth-of-type(6) {background-image: url('../img/hair-cat/img-6.png');}
.dv-services-slide-1 {background-image: url('../img/services/img-bg-1.png');background-size: 40%;background-repeat: no-repeat;background-position: bottom right;}
.dv-services-slide-2 {background-image: url('../img/services/img-bg-2.png');background-size: 40%;background-repeat: no-repeat;background-position: bottom right;}
.dv-services-slide-3 {background-image: url('../img/services/img-bg-3.png');background-size: 60%;background-repeat: no-repeat;background-position: bottom right;}
.dv-services-slide-5 {background-image: url('../img/services/img-bg-5.png');}
.dv-services-slide-6 {background-image: url('../img/services/img-bg-6.png');background-size: 45%;background-repeat: no-repeat;background-position: bottom right;}
.dv-services-slide-5.dv-bg-right {background-size: 40% !important;background-position: right bottom;}
.accordion > div:last-of-type {border-bottom: 1px solid #dee2e6 !important;}
.accordion-button:not(.collapsed) {color: currentColor !important;}
.accordion-button > svg path{transition: .3s;transform-origin: center}
.accordion-button:after {background-image: none !important;}
.accordion-button:not(.collapsed) > svg path:first-of-type{transform: rotate(90deg);}
.dv-conditions-slide-1 {background-image: url('../img/conditions/img-bg-1.png');}
.dv-conditions-slide-2 {background-image: url('../img/conditions/img-bg-2.png');}
.dv-conditions-slide-2-bottom-items-holder > div:first-of-type {background-image: url('../img/hair-cat/slide-2/img-1.png');}
.dv-conditions-slide-2-bottom-items-holder > div:nth-of-type(2) {background-image: url('../img/hair-cat/slide-2/img-2.png');}
.dv-conditions-slide-2-bottom-items-holder > div:last-of-type {background-image: url('../img/hair-cat/slide-2/img-3.png');}
.dv-each-conditions-slide-2 {background-image: url('../img/each-condition/img-bg-2.png');}
.dv-about-us-slide-1 {background-image: url('../img/about-us/img-bg-1.png');}
.dv-about-us-slide-2 > .col {height: 200px;background-size: cover;}
.dv-about-us-slide-2 > .col > div {height: 200px;background: linear-gradient(to bottom, transparent, rgba(0,0,0,.5));}
.dv-about-us-slide-2 > .col:first-of-type {background-image: url('../img/about-us/team/img-1.png');}
.dv-about-us-slide-2 > .col:nth-of-type(2) {background-image: url('../img/about-us/team/img-2.png');}
.dv-about-us-slide-2 > .col:nth-of-type(3) {background-image: url('../img/about-us/team/img-3.png');}
.dv-about-us-slide-2 > .col:nth-of-type(4) {background-image: url('../img/about-us/team/img-4.png');}
.dv-about-us-slide-2 > .col:nth-of-type(5) {background-image: url('../img/about-us/team/img-5.png');}
.dv-about-us-slide-2 > .col:nth-of-type(6) {background-image: url('../img/about-us/team/img-6.png');}
.dv-contact-us-page-1 {background-image: url('../img/contact-us/img-bg-1.png');}
.dv-contact-us-page-3 {background-image: url('../img/contact-us/img-bg-3.png');}
.dv-text-red {color: var(--red);}
.dv-bg-right-bigger {background-size: 120%;background-position: right bottom;}
.dv-about-us-map-slide {background-image: url('../img/img-map.jpg');}

.dv-link {
    font-weight: 500;
    font-size: 18px;
    color: var(--dark) !important;
}

.dv-paragraph {
    line-height: 34px;
    font-size: 18px;
    font-weight: 400;
    color: var(--dark) !important;
    width: 70%;
    margin-bottom: 2rem;
}

.dv-title {
    font-weight: 700;
    font-size: 50px;
    color: var(--dark) !important;
    text-transform: uppercase;
    margin-bottom: 1rem;
}

.dv-subtitle {
    font-size: 18px;
    font-weight: 500;
    color: var(--lighter-dark);
}

.dv-submit-btn {
    background-color: var(--red);
    border: none;
    font-weight: 700;
    font-size: 20px;
    height: 60px;
    padding: 1rem;
    border-radius: 5px;
    color: white;
}

.dv-input {
    background-color: transparent;
    border-radius: 5px;
    border: 1px solid #D1D1D1;
    color: var(--dark);
    outline: none;
    height: 60px;
    padding: 1rem;
    transition: .3s;
    font-weight: 400;
    font-size: 18px;
}

.dv-label-holder {
    top: 10%;
    right: 0;
    transform: rotate(90deg) translateY(-250%);
    border-bottom: 1px solid var(--dark);
}

.dv-nav-links.active:before {
    content: '';
    position: absolute;
    width: 100%;
    height: 1px;
    top: 50%;
    left: 0;
    transform: translateX(-105%);
    background-color: var(--dark);
}

/*Hover , Active, ...*/
button.dv-border-dark:hover {background-color: var(--dark) !important;}
button.dv-border-dark:hover path{stroke: white}
button.dv-border-white:hover {background-color: white !important;color: var(--dark) !important;}
.dv-input:hover {border-color: #b0b0b0;}
.dv-input:focus {border-color: #999999;}
.dv-submit-btn:hover {background-color: #b07f7f;}
.dv-submit-btn:active {background-color: #a47676;}
.accordion-button:focus {box-shadow: none !important}

/*Media Querys*/
@media (max-width: 575px) {
    .dv-home-slide-2-bottom-items-holder {grid-template-columns: repeat(1, 1fr) !important}
    .dv-home-slide-2-bottom-items-holder.dv-three-child > div:last-of-type {grid-column: span 1 !important}
}

@media (max-width: 991px) {
    main {z-index: 1;}
    nav.show {left: 0;opacity: 1;}
    .dv-bottom-social-links-main.position-absolute,
    .dv-home-slide-2-bottom-items-holder.position-absolute {position: static !important;margin-top: 1.5rem;}
    .dv-nav-links.active {margin-left: 10vw;}
    .dv-nav-links.active:before {width: 100vw;}
    .dv-p-small-inner-pages {padding: 1.5rem;}
    .dv-fs-30 {font-size: 20px}
    .dv-fs-60 {font-size: 30px}
    .dv-squar-50  {width: 40px;height: 40px;}
    .dv-label-holder.d-flex {display: none !important;}
    .dv-home-slide-2-bottom-items-holder.dv-three-child > div:last-of-type {grid-column: span 2}
    .dv-home-slide-2-bottom-items-holder h6 {color: white !important;}
    .dv-mq-991-pos-static.position-absolute {position: static !important;}
    .dv-home-slide-2, .dv-home-slide-3, .dv-home-slide-4, .dv-hair-cat-slide-1, .dv-conditions-slide-2 {background-image: none;}
    .dv-home-slide-2-bottom-items-holder.position-absolute, .dv-conditions-slide-2-bottom-items-holder.position-absolute {position: static !important;}
    .dv-each-conditions-slide-2 {background-image: none;}
    .dv-blog-post {background-image: none;}
    .dv-paragraph {width: 100%;}
    .dv-title {font-size: 30px}

    .dv-home-slide-2-bottom-items-holder, .dv-conditions-slide-2-bottom-items-holder {
        display: grid !important;
        grid-template-columns: repeat(2 , 1fr);
        gap: 1rem;
        padding: 1rem;
    }

    .dv-home-slide-2-bottom-items-holder > div,.dv-conditions-slide-2-bottom-items-holder > div {
        height: 250px;
        background-position: center;
        background-size: cover;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    nav {
        position: fixed;
        z-index: 3 !important;
        height: 100%;
        overflow: auto;
        box-shadow: 0 0 30px rgba(0,0,0,.2);
        left: -100%;
        opacity: 0;
        transition: .3s;
    }
}
