/*Importing Our Font*/
@import "../font/Montserrat-font.css";

/*Variables*/
:root {
    --light: #f1ecec;
    --dark: #4D4D4D;
}

/*CSS RESET*/
img {pointer-events: none}
a {text-decoration: none !important;}
button {transition: .3s;cursor: pointer;}

body {
    font-size: 18px !important;
    font-family: Montserrat, Verdana ,sans-serif !important;
    scroll-behavior: smooth;
    overflow-x: hidden;
    background-color: #f1ecec !important;
}

/*Styles*/
.dv-fw-bold {font-weight: 700;}
.dv-fw-semi-bold {font-weight: 600;}
.dv-fw-regular {font-weight: 500;}
.dv-fw-thin {font-weight: 400;}
.dv-text-dark {color: var(--dark) !important;}
.dv-nav-links {position:relative;}
.dv-nav-links.active {margin-left: 1rem;}
.dv-nav-links.active > a {font-weight: 700;}
.dv-bg-right {background-size: contain;background-position: right;background-repeat: no-repeat;}
.dv-bg-cover {background-size: cover;background-position: center;}
.dv-desktop-1 {background-image: url('../img/desktop/img-bg-1.png');}
.dv-fs-30 {font-size: 30px}
.dv-fs-60 {font-size: 60px}
.dv-squar-50 {width: 50px;height: 50px;}
.dv-border-dark {border: 1px solid var(--dark);}
.dv-border-white {border: 1px solid white;}
button.dv-border-dark path {transition: .3s}
.dv-bottom-9 {bottom: 9%;}
.dv-dark-bg-nav {z-index: 2;background-color: rgba(0,0,0,.3);opacity: 0;pointer-events: none;transition: .3s}
nav.show  ~ .dv-dark-bg-nav{opacity: 1;pointer-events: visible;}

.dv-nav-links.active:before {
    content: '';
    position: absolute;
    width: 100%;
    height: 1px;
    top: 50%;
    left: 0;
    transform: translateX(-105%);
    background-color: var(--dark);
}

/*Hover , Active, ...*/
button.dv-border-dark:hover {background-color: var(--dark) !important;}
button.dv-border-dark:hover path{stroke: white}
button.dv-border-white:hover {background-color: white !important;color: var(--dark) !important;}

/*Media Querys*/
@media (max-width: 991px) {
    .dv-bottom-social-links-main.position-absolute {position: static !important;margin-top: 1.5rem;}
    .dv-nav-links.active {margin-left: 10vw;}
    .dv-nav-links.active:before {width: 100vw;}
    main {z-index: 1;}
    .dv-fs-30 {font-size: 20px}
    .dv-fs-60 {font-size: 30px}
    nav.show {left: 0;opacity: 1;}

    nav {
        position: fixed;
        z-index: 3 !important;
        height: 100%;
        overflow: auto;
        box-shadow: 0 0 30px rgba(0,0,0,.2);
        left: -100%;
        opacity: 0;
        transition: .3s;
    }
}
